<%- include('_partials/_header.ejs')%>

    <main>
      <form class="product-form" action="/admin/add-product" method="POST">
        <label for="title">Title</label>
        <div class="form-control">
          <input type="text" name="title" id="title" />
        </div>
        <button type="submit">Add Product</button>
      </form>
    </main>
<%- include('_partials/_footer.ejs')%>

