<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{docTitle}
    link(rel="stylesheet", href="./css/main.css")
  body
    header.main-header
      nav.main-header-nav
        ul.main-header-item-list
          li.main-header-item
            a.active(href="/") Shop
          li.main-header-item
            a.active(href="/admin/add-product") Add Product
    main
      .grid
        article.card.product-item
          header.card_header
            h1.product_title Great Book
        .card_image
          img(src="", alt="")
        .card_content
          h2.product_price $19.00
          p.product_description Text text text text
        .card_actions
          .button.btn Add to Cart
