<%- include('../_partials/_header.ejs')%>

    <main>
      <% if(prods.length >0) { %>
      <div class="grid">
        <% for (let product of prods) { %>
        <article class="card product-tem">
          <header class="card-header">
            <h1 class="product-title"><%= product.title %></h1>
          </header>
          <div class="card-image">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTPS7eVpg7O6b3kMxCffTKgCT9uoFBpx8fImQ&usqp=CAU">
          </div>
          <div class="card-content">
            <h2 class="product price">$19.99</h2>
            <p class="product-description">Text test text test</p>
          </div>
          <div class="card-actions">
            <button class="btn"> Add to cart</button>
          </div>
        </article>
        <% } %>
      </div>
      <% } else { %>
        <h1>No products found!</h1>
      <% }%>
    </main>
<%- include('../_partials/_footer.ejs')%>

